* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

.login {
    padding: 35px 20px ;
    width: 500px;
    height: 700px;
    background: rgb(44, 42, 42)  ;
    margin:auto;
    margin-top: 50px;
    
}


.logo {
    margin-top: 85px;
    position: absolute;
    height: 70px;
    width: 70px;
    top: 50px;
    left: calc(50% - 32px);
}

.web{
    height: 50px;
    width: 60px;
    margin-top: 160px;
    margin-left: 25px;
    align-items: center;
}

.login h5{
    color: white;
    margin-top:35px ;
    margin-left:25px ;
}

.content{
    width: 90%;
    margin-left: 25px;
    margin-top: 20px;
    padding: 10px;
    background: #252323;
    font-size: 15px;
    font-weight: bold;
}

.checkbox {
    margin-left: 25px;
    margin-top: 17px;
    background: #ffffff;
    color: white;
}

.p1{
    margin-left: 285px;
    margin-top: -25px;
}

.login a{
    color: white;
    text-decoration:none ;

}


.buttons{
    width: 90% ;
    margin-left: 25px;
    padding: 10px;
    margin-top: 35px;
    background: #252323;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.p2{
    padding-top: 50px;
    margin-left: 25px;
}



.a2{
    margin-left: 310px;
    margin-top: -23px;
}















